nav ul {
list-style-type: none;
padding: 0;
margin: 0;
font-size: 1.5rem;
text-align: center;
}
nav li {
display: inline-block;
}

nav {
border: 1px solid #333;
margin: 1rem auto;
background-color: rgb(170, 79, 79);
background-image: url("https://assets.codepen.io/296057/lil-graydots.png");
border-bottom: 5px solid #00bff3;
border-top: 5px solid #00bff3;
color: #111;
}

nav a {
color: #00bff3;
text-decoration: none;
font-size: 1.5rem;
font-weight: 600;
display: block;
padding: 0.5rem 1rem;
}

nav a:focus {
background-color: #f0c808;
color: black;
}
nav a:hover {
background-color: #f0c808;
color: #ff583d;
background-image: url("https://assets.codepen.io/296057/lil-yellowdots.png");
}
.active {
color: #ff583d;
background-color: #c5e5ed;
background-image: url("https://assets.codepen.io/296057/lil-bluedots.png");
}

html {
box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}
body {
font-family: "Roboto Slab", serif;
font-weight: 400;
margin: 0;
padding: 0;
font-size: 1.2rem;
}

list-style-type: none;

margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}


li {
float: left;
border-right: 1px solid #bbb;
}

li a {
display: block;
color: rgb(9, 9, 9);
text-align: center;
padding: 24px 26px;
text-decoration: none;

}

li a:hover {
background-color: #111;
}
body {
/* Old browsers */
background: #ffcccc;
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(-45deg, #ffcccc, #00ffff);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(-45deg, #35577D, #0040ff);
margin: 0;
padding: 0;
}




h1 {
color: #FFF;
font-size: 2em;
padding-top: 100px;
width: 100%;
}

h2 {
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
color: rgba(255, 255, 255, 0.5);
font-weight: 100;
font-size: 22px;
line-height: 24px;
padding-bottom: 30px;
text-align: center;
width: 70%;
}

p {
color: rgb(0, 0, 0);
line-height: 1.3em;
text-align: center;
width: 100%;
}

.byline {
font-family: Helvetica;
color: rgba(255, 255, 255, 0.5);
float: left;
font-size: 14px;
padding-left: 10px;
text-transform: uppercase;
}

.caption {
display: block;
font-family: 'Playfair Display', serif;
font-size: 34px;
font-style: italic;
line-height: 34px;
margin-left: 20px;
padding: 10px;
position: relative;
text-align: center;
top: 50%;
width: 90%;
}

.content {
padding: 40px;
}

.image {
background-image: url("https://wallpapercave.com/wp/wp7447328.jpg");
background-size: cover;
background-position: left;
height: 900px;
}

.writer-img {
-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
float: left;
width: 50px;
}

footer {  
position: fixed;  
left: 10px;  
bottom: 5px;  
right: 10px;   
width: 95%;  
background-color: gray;  
color: white;  
text-align: center;  
}  